.contact-link {
	.fas {
		font-weight: 400;
	}
	a {
		color: var(--font-color);
		&:hover {
			color: var(--link-color);
			border-bottom: none;
		}

		&:before {
			padding-right: 5px;
		}
	}
	ul {
		padding-left: 10px;
	}
	li {
		padding: 10px;
		list-style: none;
	}
}
